@import '../config';
.auth-block .links {
  font-size: 1.4rem;
  margin-top: 20px;
  display: inline-block;
  a {
    margin-left: 5px;
  }
}
.red-border_block {
  width: 920px;
  height: 185px;

  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 70px;
  border: 1px solid $tomato;
  position: relative;
  .title {
    position: absolute;
    left: 50%;
    padding: 0px 20px;
    color: #383838;
    background: white;
    top: -6px;
    font-size: 1.8rem;
    margin-left: -133px;
    z-index: 2;
  }
  .pluses_block {
    display: flex;
    justify-content: center;
    align-items: center;
    .plus_item {
      width: 190px;
      text-align: center;
      margin: 0 22px;
      img {  }
      p {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }
}