footer#finish
    .triggers-block--wrapper
        .triggers-block
            .triggers-element.callme
                img(src="img/callme.svg", class="img_callme")
                p Обратный звонок
                a(href="#recallme", data-popup) Запросить
            .triggers-element.email
                img(src="img/email.svg", class="img_email")
                p Почтовый адрес компании
                a(href="mailto:apetta@apetta.ru") apetta@apetta.ru
            .triggers-element.address
                img(src="img/address.svg", class="img_address")
                p Адрес головного офиса
                a(href="/contacts/")
                    | Санкт-Петербург, ул. Белоостровская,
                    br
                    | д.17, корп.2, лит.А, офис 719
    .footer-menu--wrapper
        .footer-menu
            ul.menu-block
                li.menu-element
                    a(href="#") О компании
                li.menu-element
                    a(href="#") Корпоративным клиентам
                li.menu-element
                    a(href="#") Полезная информация
                li.menu-element
                    a(href="#") Вопросы – ответы
                li.menu-element
                    a(href="#") Карьера
                li.menu-element
                    a(href="#") Наши адреса
    .footer-copyright
        p © Apetta 2017. Все права защищены. Сайт разработан веб-студией
            a(href="http://make-research.ru/") Make & Research
// footer end