
if jquery
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')

if mousewheel
    script(src='scripts/libs/jquery.mousewheel.min.js')
| <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
script(src='scripts/libs/jquery.easing.1.3.js')
script(src='scripts/libs/jquery.fancybox.min.js')
script(src='scripts/libs/jquery.bxslider.min.js')
script(src='scripts/libs/jqDatePicker.min.js')
script(src='scripts/jquery.events.js')
script(src='scripts/jquery.functions.js')
script(src='scripts/actions.js')
