meta(charset='UTF-8')

//- meta(http-equiv="Cache-Control", content="no-cache")

meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')

meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
meta(http-equiv="content-type", content="text/html")

meta(name='msthemecompatible', content='no')
meta(name='cleartype', content='on')
meta(name='HandheldFriendly', content='True')
meta(name='format-detection', content='telephone=no')
meta(name='format-detection', content='address=no')
meta(name='google', value='notranslate')

link(rel="shortcut icon", href="img/favicon/favicon.png")

link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic-ext" rel="stylesheet")

link(href='styles/defaults.css', rel='stylesheet')
link(href='styles/layouts.css', rel='stylesheet')
link(href='styles/pages.css', rel='stylesheet')
link(href='styles/vendors.css', rel='stylesheet')
link(href='fonts/stylesheet.css', rel='stylesheet')
link(href='scripts/libs/jquery.fancybox.css', rel='stylesheet')
link(href='scripts/libs/jquery.bxslider.css', rel='stylesheet')
link(href='scripts/libs/jqDatePicker.css', rel='stylesheet')

<!-- HTML5 supporting -->

<!--[if lt IE 9]>
script(src="scripts/libs/html5shiv/es5-shim.min.js")
script(src="scripts/libs/html5shiv/html5shiv.min.js")
script(src="scripts/libs/html5shiv/html5shiv-printshiv.min.js")
script(src="scripts/libs/respond.min.js")
<![endif]-->

meta(property="og:title", content="")
meta(property="og:description", content="")
meta(property="og:url", content="")
meta(property="og:image", content="")