extends template/template

block title
    title Apetta. Сеть федеральных химчисток. Интернет-заказ химчистки любой вида товара.

block content
    .wrapper-content
        .error-page__wrapper
            span.top-text ошибка
            .main-text 404
            p.bottom-text Ежегодно  доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг. В нашей компании работают высококвалифицированные специалисты, которые проходят мастер-классы с европейскими мастерами, осваивают новые технологии и методики, в общем, выполняют свою работу на высоком уровне.
            a.btn(href="index.html") На главную страницу
