extends template/template

block title
    title Наши адреса

block content
    .section-page
        h1 Наши адреса
    .wrapper-content.wrapper__address
        // #WORKAREA#
        .maps-block
            .lineform
                input(type="text", name="address", value="", placeholder="Введите свой адрес")
                a.btn(href="") Найти ближайшую химчистку
            .map#map2
        .address__list
            a.address__list_btn(href="") Все станции метро
            .vacancy-item
                .vacancy-detail
                    .metro.orange Дыбенко
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.blue Горьковская
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.red Техноложка
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.orange Дыбенко
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.blue Горьковская
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.red Техноложка
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.orange Дыбенко
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.blue Горьковская
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.
            .vacancy-item
                .vacancy-detail
                    .metro.red Техноложка
                    .address Полюстровский просп., 84, литера А, ТРК Европолис. Лесная ст.м.