extends template/template

block title
    title Apetta. Сеть федеральных химчисток. Интернет-заказ химчистки любой вида товара.

block content
    .section-page
        .breadcrumbs-block
            ul.breadcrumbs
                li.breadcrumbs-element
                    a(href="") Главная
                    span &nbsp;/&nbsp;
                li.breadcrumbs-element
                    a(href="") Каталог
                    span &nbsp;/&nbsp;
                li.breadcrumbs-element
                    a(href="") Химчистка и стирка
                    span &nbsp;/&nbsp;
                li.breadcrumbs-element
                    a(href="") Одежда
                    span &nbsp;/&nbsp;
                li.breadcrumbs-element
                    span Верхняя

        h1 Каталог
    .wrapper-content
        // #WORKAREA#
        .html-text_block.responsive-hide
             p Ежегодно доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг. В нашей компании работают высококвалифицированные специалисты, которые проходят мастер-классы с европейскими мастерами, осваивают новые технологии и методики, в общем, выполняют

        .catalog__wrapper
            .catalog_level
                .section_image
                    img(src="img/content/img_0.png")
                .section_name
                    h2 Химчистка и стирка
                .subsection_list__wrapper
                    ul
                        li.subsection_element
                            a.active(href="#SECTION_PAGE_URL#") Одежда
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Домашний текстиль
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Нестандартные изделия
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Аксессуары
            .catalog_level
                .section_image
                    img(src="img/content/img_1.png")
                .section_name
                    h2 Одежда
                .subsection_list__wrapper
                    ul
                        li.subsection_element
                            a.active(href="#SECTION_PAGE_URL#") Верхняя
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Повседневная
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Торжественная
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Домашняя
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Спортивная
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Профессиональная
            .catalog_level
                .section_image
                    img(src="img/content/img_2.png")
                .section_name
                    h2 Верхняя
                .subsection_list__wrapper
                    ul
                        li.subsection_element
                            a.active(href="#SECTION_PAGE_URL#") Шубы и меховые изделия
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Плащ
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Куртка
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Пальто
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Пуховик
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Пончо
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Кардиган
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Болеро
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Жилет
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Парка
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Дубленка
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Анорак
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Кофта
            .catalog_level
                .section_image
                    img(src="img/content/img_3.png")
                .section_name
                    h2 Шубы и меховые изделия
                .subsection_list__wrapper
                    ul
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Шуба
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Подстежка меховая
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Опушка (до 40см)
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Палантин
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Капюшон, шапка, воротник
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Жилет, болеро
                        li.subsection_element
                            a(href="#SECTION_PAGE_URL#") Горжетка
