extends template/template

block title
    title Apetta. Сеть федеральных химчисток. Интернет-заказ химчистки любой вида товара.

block content
    .section-page
        h1.caption Текстово-графическая страница
    .wrapper-content
        h2 Элерон (Европейская химчистка Apetta)
        img(src="img/content/career-page-1.png", alt="")
        p Компания "Европейская химчистка  Apetta" основана в 1997г.
        p С 2002 года мы являемся якорным арендатором в гипермаркетах О'КЕЙ и продолжаем совместное  развитие как в Санкт-Петербурге, так и в регионах.
        p С 2008 года мы развиваем направление по обслуживанию корпоративных клиентов: HORECA , медицина, предприятия производственного сектора и госучреждения.

