extends template/template

block title
    title Apetta. Сеть федеральных химчисток. Интернет-заказ химчистки любой вида товара.

block content
    .section-page
        .breadcrumbs-block
            ul.breadcrumbs
                li.breadcrumbs-element
                    a(href="") Главная
                    span &nbsp;/&nbsp;
                li.breadcrumbs-element
                    span Каталог

        h1 Каталог страниц
    .wrapper-content
        ul.index-page
            li
                a(href="404.html") 404 страница
            li
                a(href="cart.html") Корзина
            li
                a(href="catalog14.html") 4 уровня каталога
            li
                a(href="main.html") Главная страница
            li
                a(href="order.html") Оформление заказа
            li
                a(href="product-cart.html") Карта товара
            li
                a(href="questions-answers.html") Вопросы-ответы
            li
                a(href="review.html") Отзывы
            li
                a(href="search.html") Результаты поиска
            hr
            li
                a(href="auth.html") Авторизация на сайте (Идентична с регистрацией)
            li
                a(href="personal.html") Личный кабинет (редактирование данных)
            li
                a(href="personal-history.html") Личный кабинет (история заказов)
            li
                a(href="career.html") Карьера
            li
                a(href="popups.html") Всплывающие окна
    // #WORKAREA#
