extends template/template

block title
    title Apetta. Сеть федеральных химчисток. Интернет-заказ химчистки любой вида товара.

block content
    .section-page
        h1.caption Результаты поиска
    .wrapper-content
        // #WORKAREA#
        .search__wrapper
            .search__form
                form(action="", method="", data-submit="")
                    input(type="text", name="", value="", placeholder="Введите свой запрос")
                    button(type="submit") Найти
            ul
                li.search__result
                    img(src="img/content/doge.jpg").search__result_image
                    .search__result_text
                        h2.search__result_name Накидка для шубы
                        p.search__result_description Ежегодно  доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг.
                        a(href="").btn.search__result_more Подробнее
                li.search__result
                    img(src="img/content/doge.jpg").search__result_image
                    .search__result_text
                        h2.search__result_name Накидка для шубы
                        p.search__result_description Ежегодно  доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг.
                        a(href="").btn.search__result_more Подробнее
                li.search__result
                    img(src="img/content/doge.jpg").search__result_image
                    .search__result_text
                        h2.search__result_name Накидка для шубы
                        p.search__result_description Ежегодно  доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг.
                        a(href="").btn.search__result_more Подробнее
                li.search__result
                    img(src="img/content/doge.jpg").search__result_image
                    .search__result_text
                        h2.search__result_name Накидка для шубы
                        p.search__result_description Ежегодно  доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг.
                        a(href="").btn.search__result_more Подробнее
                li.search__result
                    img(src="img/content/doge.jpg").search__result_image
                    .search__result_text
                        h2.search__result_name Накидка для шубы
                        p.search__result_description Ежегодно  доверяют свои вещи 1 500 000 Клиентов, которые остаются довольны качеством выполненных услуг.
                        a(href="").btn.search__result_more Подробнее
